.bubbles {
  display: flex;
  margin: 0;
  padding-left: 15%;
  padding-right: 15%;
}

body {
  background-color: rgb(27 150 217);
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 15px;
}

img {
  width: 120px;
  clip-path: circle();
  background-color: white;
  padding: 25px;
}

.title {
  padding-left: 20%;
  padding-right: 10%;
  color: white;
  font-size: 20px;
  font-family: lato, sans-serif;
  width: 100%;
}

h1 {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: lato, sans-serif;
  padding: 0;
  padding-top: 10px;
  display: inline-block;
}

p {
  color: white;
  font-family: lato, sans-serif;
  font-weight: 400;
}

div.header {
  padding-bottom: 40px;
}

p.text {
  font-size: medium;
  font-family: lato, sans-serif;
  line-height: 1.5em;
}

.stream,
.tools,
.board {
  font-family: lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-right: 10%;
}

div.first {
  padding-left: 15%;
}

.text {
  text-align: left;
}

h1.stream {
  padding-right: 10%;
}
