.bubbles {
  display: flex;
  margin: auto;
  padding-left: 15%;
  padding-right: 15%;
}

body {
  background-color: rgb(27 150 217);
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 15px;
}

img {
  width: 180px;
  clip-path: circle();
  background-color: white;
  padding: 50px;
}

.title {
  padding-left: 20%;
  color: white;
  font-size: 20px;
  font-family: lato, sans-serif;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: lato, sans-serif;
  padding: 0;
  padding-top: 10px;
}

p {
  color: white;
  font-family: lato, sans-serif;
  font-weight: 400;
}

div.second {
  padding: auto%;
}

div.header {
  padding-bottom: 40px;
}

h2 {
  text-align: justify;
}

p.text {
  font-size: normal;
  font-weight: 400;
  font-family: lato, sans-serif;
  line-height: 1.5em;
}

.stream,
.tools,
.board {
  font-family: lato, sans-serif;
  font-weight: normal;
}
