form {
  width: 50%;
  margin: auto;
  padding-top: 200px;
}

h2 {
  text-align: center;
  color: rgb(240 131 127);
}

.company {
  padding: 5px;
  border-radius: 6px;
  width: 100%;
  display: block;
  margin: 5px;
  font-family: "Brandon Grotesque", sans-serif;
  font-size: smaller;
  border-color: lightgrey;
  border-style: solid;
}

#hiring,
#name {
  padding: 5px;
  border-radius: 6px;
  width: 100%;
  display: block;
  margin: 5px;
  padding-left: 7px;
  font-family: "Brandon Grotesque", sans-serif;
  font-size: smaller;
  border-style: solid;
  border-color: lightgray;
}

.engineers {
  margin: 5px;
  font-weight: none;
  color: rgb(125 125 125);
  font-size: smaller;
}

.button {
  display: inline-block;
  width: 90px;
  height: 32px;
  border-radius: 20px;
  background-color: rgb(237 103 98);
  color: white;
  border: none;
  text-align: center;
  margin-left: 40px;
}

body {
  margin: auto;
  width: 50%;
  background-color: rgb(255 255 255);
}

select {
  background-color: rgb(243 243 243);
  border-radius: 7px;
  width: 100%;
  height: 35px;
}

.btn {
  padding: 6px;
  text-align: right;
  padding-top: 4px;
  width: 103%;
}

input {
  border-color: rgb(238 239 239);
}

/* This is where all my headings above text boxes will go */
.comp,
.where,
.name {
  padding-left: 10px;
  font-family: "Brandon Grotesque", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
}

.learn {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 500;
  font-size: medium;
}

/* -- figure out hot to use nth-child/*
/* figure out how to use pseudo class selectors */
::placeholder {
  color: rgb(204 204 204);
}

.months {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 500;
  font-size: 10px;
  padding-left: 10px;
}
