.button {
  padding: 5px;
  font-size: 20px;
}

.button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.button:active {
  background-color: chocolate;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

th {
  background-color: black;
  color: white;
}
