.container {
  width: 1000px;
  margin: auto;
}

.row {
  display: flex;
}

.column1 {
  width: calc(100% / 5);
  padding: 10px;
}

.retail {
  color: grey;
}

img {
  width: 100%;
}

.header {
  width: 50%;
  padding-bottom: none;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-left: 40%;
  font-size: 25px;
  font-family: sans-serif;
}

p {
  color: rgb(228 228 228);
}

img.lv {
  padding-top: 15%;
}

.brand {
  color: black;
  font-family: ;
}

span {
  color: rgb(228 228 228);
}

.currentprice {
  color: black;
}

del {
  color: rgb(228 228 228);
}

.column1.yves {
  width: 25%;
}

span.line {
  color: rgb(228 228 228);
}

.yvesbag {
  height: 63%;
}

.brand.lv {
  display: inline-block;
  width: 100%;
}

p.currentprice.lvp {
  padding-top: 5px;
  margin: 0;
}

.currentp {
  background-color: rgb(228 228 228);
  color: black;
}
