.hidden {
  display: none;
}

.carousel-container {
  width: 1000px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.fas.hello {
  color: black;
  font-size: 100px;
  position: absolute;
  right: 5rem;
}

.hi {
  position: absolute;
  font-size: px;
  left: 2rem;
}

.column {
  width: 33%;
  margin-top: 50%;
}

.column-full {
  width: 100%;
}

.justify {
  justify-content: center;
  align-items: center;
}

.circlepadding {
  padding-left: 1.5rem;
  margin-top: 4rem;
  justify-content: flex-end;
}

.circles {
  padding-top: 2rem;
  font-size: 25px;
}

/* .circlepadding {
  padding-left: 1rem;
} */

button {
  background-color: none;
  color: none;
  text-decoration: none;
  border: none;
  outline: none;
}

li {
  list-style: none;
}

.fas.hi {
  color: black;
  font-size: 100px;
  align-items: right;
}
