.container {
  width: 50%;
  height: 50%;
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
}

.fas.hello {
  color: red;
  font-size: 50px;
  position: absolute;
  top: 20rem;
  left: 5rem;
}

.column {
  width: calc(100% / 5);
}

.column-full {
  width: 100%;
}
