.letter {
  font-size: 20pt;
  font-family: sans-serif;
  color: black;
}

.incorrect-char {
  color: red;
  text-decoration: underline;
}

.correct-char {
  color: darkgreen;
  text-decoration: underline;
}

.center {
  text-align: center;
}

.row {
  display: flex;
}

.justify {
  justify-content: center;
}

.container {
  margin-top: 20%;
}

span {
  white-space: pre;
}

h1 {
  display: inline;
}
