.container {
  width: 1000px;
  margin: auto;
}

.row {
  display: flex;
}

img {
  padding-top: 15px;
  width: 20%;
  display: inline-block;
}

.column1 {
  color: grey;
  line-height: 40px;
  flex-basis: 33%;
  justify-content: center;
  align-content: center;
  background-color: rgb(250 250 250);
  padding-left: 35px;
}

.btn {
  background-color: rgb(41 68 99);
  color: white;
  align-content: right;
  width: 100%;
  padding-top: 6px, 10px, 6px, 10px;
  margin: 5px;
}

.columnlearnmore {
  width: 100%;
  color: darkgrey;
  padding-top: 30px;
}

.canvas {
  padding-top: 4%;
  width: 30%;
  background-color: rgb(82 83 81);
  color: white;
  padding-left: 10%;
  padding-bottom: 30px;
}

.companycolumn {
  width: 40%;
  padding-left: 30%;
  color: white;
  background-color: rgb(82 83 81);
  padding-top: 5%;
}

.productcolumn {
  width: 40%;
  padding-left: 10%;
  color: white;
  background-color: rgb(82 83 81);
  padding-top: 5%;
}

.footerbtn {
  background-color: white;
  border: none;
  color: darkgrey;
}

.footer {
  padding-top: 10px;
}

.heroimg {
  padding-top: 20px;
  position: relative;
  left: 8%;
  width: 90%;
  align-content: center;
  justify-content: center;
}

.overlayimg {
  position: absolute;
  bottom: 45rem;
  left: 33%;
  color: white;
  line-height: 20px;
  width: 50%;
  font-family: Avenir, sans-serif;
  font-style: normal;
  font-weight: 500;
}

.p {
  display: inline-block;
  width: 40%;
  color: white;
}

.clinicians {
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(250 250 250);
  color: darkgrey;
  align-content: center;
  padding-left: 25%, 25px, 5px, 30px;
  margin-top: 5%;
  height: 20%;
}

.columnempty {
  width: 33%;
  background-color: rgb(250 250 250);
}

.contact-us-btn {
  padding-left: 5px;
  margin: 2px;
  background-color: white;
  color: darkgrey;
  border: none;
  display: inline-block;
  justify-content: right;
}

.buttons {
  padding-left: 35%;
  padding-top: 15px;
  padding-bottom: 20px;
}

.contact-us {
  background-color: rgb(41 68 99);
  color: white;
  padding-top: 8px;
  padding-bottom: 22px;
  border-style: solid;
  border-radius: 4px;
  margin: 0;
  height: 7px;
}

.bluecanvas {
  position: static;
  width: 25%;
  padding-left: 10%;
}

.prefer-canvas-center {
  padding-left: 15%;
}

.whitecanvas {
  width: 60%;
  padding-right: 10px;
  padding-bottom: 10%;
}
